.product1 {
  text-align: center;
  font-family: "Comic Neue", cursive;
}

.proContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pro {
  width: 250px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #CCE7D0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.pro:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.35);
}

.pro span {
  color: #606063;
  font-size: 14px;
}

.pro img {
  height: 300px;
  border-radius: 20px;
}

.pro h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.pro h4 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #4f4e4e;
}

p {
  font-size: 17px;
}


.pro .shoppingCart img {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 55px;
  background-color: #E8F6EA;
  color: #088178;
  border: 1px solid #CCE7D0;
  bottom: 20px;
  right: 10px;
}



.shopInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: "Comic Neue", cursive;
  background-color: #E3E6F3;
  padding: 15px;
}
.shopInfo > div{
  display: flex;
  flex-direction: column;
  margin: 5px 30px;
}
.shopInfo > div > select, div{
  margin: 5px 0px;
}
.shopInfo > div > div{
  font-size: 20px;
}
.shopInfo > div > select{
  padding: 5px;
  width: 200px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #00decf;
}
.shopInfo > div > select:focus{
  border: none;
  border-radius: none;
  background-color: #00decf;
}
.shopInfo > div > select > option{
  border: none;
  border-radius: none;
  background-color: #00decf;
}
.shopInfo > div > select > option:hover{
  border: none;
  border-radius: none;
  color: black;
  background-color: white;
}