.header {
    
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    font-family: "Comic Neue", cursive;
    
}

.mainPageLink {
    text-decoration: none;
}

v
.container {
    margin-left: 60px;
    font-weight: 600;
    font-size: 25px;
    font-family: "Comic Neue", cursive;
}

.header-line {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    color: black;
    text-decoration: none; 
    font-size: 20px;
    margin-left: 15px;
    padding-left: 30px;
}

.nav-item:hover,
.nav-item:active {
    text-decoration: underline;
}

.nav-image img {
    margin-left: 35px;
    width: 40px;
    height: 40px;
}

.header-logo {
    color: #088178;
}

#mobile {
    display: none;
    align-items: center;
    justify-content: center;
}

#close img {
    display: none;
}

@media (max-width: 1050px) {
    .nav {
        margin-left: auto;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -220px;
        height: 100vh;
        width: 220px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s; 
    }

    #nav.active {
        right: 0px;
    }

    #nav a {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 45px;
    }

    #mobile a {
        text-decoration: none;
    }

    #close img {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        height: 25px;
    }
}

.footer {
    background-color: #e3e6f3;
    padding: 5px;
    text-align: center;
    font-family: "Comic Neue", cursive;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer h3 {
    color: #088178;
}


.footer h3 {
    color: #088178;
}

.contact-info p {
    margin: 0 20px;
}



